include _includes/_mixins

//-  Layout
//- ============================================================================

doctype html
html(lang="en")

    head
        title=getMetaTitle()

        meta(http-equiv="content-type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="referrer" content="always")
        meta(name='description' content=description)

        link(rel="shortcut icon" href="/assets/img/favicon.ico")
        link(rel="alternate" type="application/rss+xml" title="RSS" href="/feed")
        link(rel="stylesheet" href="/assets/css/style.css?v" + version)

        //- Social Media Meta

        meta(property="og:type" content="website")
        meta(property="og:site_name" content=site)
        meta(property="og:url" content=getCurrentUrl())
        meta(property="og:title" content=getMetaTitle(true))
        meta(property="og:description" content=description)
        meta(property="og:image" content=url + getMetaImage())

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:site" content="@" + profiles.twitter)
        meta(name="twitter:title" content=getMetaTitle(true))
        meta(name="twitter:description" content=description)
        meta(name="twitter:image" content=url + getMetaImage())


    body
        main(role="main" class=(current.path[0] == 'index') ? 'home' : '')
        
            if current.path[0] == 'index'
            
                //- Homepage
                
                header.header(role="banner")
                    a.header-item(href="/about") About me
                    .header-item #[+logo]
                    a.header-item(href="https://twitter.com/" + profiles.twitter target="_blank") Twitter
            
                !=yield

            else
            
                //- Blogs / Pages
                
                article.article(role="article")
                
                    //- Art-directed posts
                    
                    if artdirected
                        !=yield

                    else
                        
                        //- Article header

                        header.article-header
                            a(href="/")
                                +logo(125)
                        
                            h1.article-headline=headline
                            
                            if date
                                .article-meta
                                    if category
                                        span.article-meta-category=category
                            
                                    span.article-meta-date 
                                        +date(date)
                                    
                                    span.article-meta-share
                                        !=partial("_includes/_share-icons", { posturl: getCurrentUrl() })
                        
                        if image && image.display != false
                        
                            //- Hero Image
                            
                            .article-hero(class="article-hero--" + ((wide) ? 'wide' : 'narrow') style="background-image: url(" + ((current.path[0] == 'blog') ? '/blog/img/' : '/assets/img/') + image.file + ")")
                                
                                if image.credit_text
                                    .article-hero-credit
                                
                                        if image.credit_url
                                            a(href=image.credit_url target="_blank")=image.credit_text
                                            
                                        else
                                            !=image.credit_text

                        //- Article content

                        .article-content(class=(image && image.display == false) ? 'article-content--full' : '')
                            !=yield

                            if meta
                                p.article-meta=meta

                            if readmore
                                p
                                    +button(href=readmore target="_blank") Read more
                
                    //- Article footer        

                    footer.article-footer
                        h2.article-footer-headline Latest Posts

                        !=partial("_includes/_latest-posts", { posts: 3 })

            //- Footer

            footer.footer
                .footer-list
                    span.footer-item &copy; 2015-#{new Date().getFullYear()} 
                    a.footer-item(href="/") #{site.toUpperCase()}
                    a.footer-item(href="/about") About me
                    a.footer-item(href="/impressum") Impressum &amp; Datenschutz
                    a.footer-item(href="https://github.com/" + profiles.github + "/ines-io" target="_blank") Source
                    a.footer-item(href="/feed" target="_blank" aria-label="RSS")
                        +icon("feed", 14)
                    
                !=partial("_includes/_social-icons")

        //- Scripts

        if highlight_code
            script(src="/assets/js/prism.js")

        if codepen_embed
            script(src="https://assets.codepen.io/assets/embed/ei.js" async)
