include _mixins

- var post_max = posts || 0 
- var post_counter = 1
- var post_style_counter = 1

//- ----------------------------------------------------------------------------
//-  Display latest posts
//- ----------------------------------------------------------------------------

section.teasers
  each post, slug in public.blog._data
    if (post_max === 0 || post_counter <= post_max) && slug != current.source && post.published != false
      
      article.teaser(class="teaser--style-" + post_style_counter)
        a.teaser-text(href=getRoot() + 'blog/' + slug)

          h5.meta=post.subheadline
          h2=post.headline

          if post.description
            p.caption=post.description.substring(0, excerpt_length) + ' ...'

        a.teaser-image(href=getRoot() + 'blog/' + slug style='background-image: url(' + getRoot() + 'blog/img/' + post.image.file + ')')

      - if(post_style_counter === 6) post_style_counter = 1
      - else post_style_counter++
      - post_counter++