//- ----------------------------------
//- ⚡️ INCLUDES > MIXINS
//- ----------------------------------

include _functions


//- Headlines Helper Mixin

mixin headline(level, style)
    if level == 1
        h1.u-heading-1
            block

    else if level == 2
        h2.u-heading-2
            block

    else if level == 3
        h3.u-heading-3
            block

    else if level == 4
        h4.u-heading-4
            block

    else if level == 5
        h5.u-heading-5
            block


//- Permalink rendering

mixin permalink(id)
    if id
        a.u-permalink(id=id href="##{id}")
            block

    else
        block


//- Headlines

mixin h(level, id)
    +headline(level)
        +permalink(id)
            block


//- Inline Image

mixin image(filename, caption, alt)
    figure.o-block&attributes(attributes)
        img(src=(absolute || "") + "img/#{filename}" alt=(alt || caption) width="1200")

        if caption
            figcaption.u-text-meta!=caption


//- List

mixin list(style)
    if style
        ol.c-list.c-list--numbered.o-block&attributes(attributes)
            block

    else
        ul.c-list.c-list--unnumbered.o-block&attributes(attributes)
            block

mixin item()
    li.c-list__item&attributes(attributes)
        block


//- Date

mixin date(input)
    - var dates = convertDate(input)
    time.date(datetime=dates.timestamp)&attributes(attributes)=dates.full


//- Blockquote

mixin quote(source, link)
    blockquote.o-block&attributes(attributes)
        p.u-text-large.u-text-italic
            block

        if source
            footer.u-text-meta.u-text-upper

                if link
                    +a(link)=source

                else
                    !=source


//- Codepen Embed

mixin codepen(slug, height, default_tab)
            a(href="https://codepen.io/#{profiles.codepen}/#{slug}/" target="_blank") View on CodePen
    .o-block&attributes(attributes)
        .codepen(data-height=height data-theme-id="23801" data-slug-hash=slug data-default-tab=(default_tab || "result") data-embed-version="2" data-user=profiles.codepen)


//- Video Embeds

mixin youtube(id, ratio)
    .c-video.o-block(class="c-video--" + (ratio || "16x9"))&attributes(attributes)
        iframe.c-video__iframe(src="https://www.youtube.com/embed/#{id}" frameborder="0" allowfullscreen)


//- Code Block

mixin code(language)
    pre.c-code-block.o-block(class="language-" + (language || "markup"))&attributes(attributes)
        code.u-text-code
            block


//- Button

mixin button
  a.button(role="button")&attributes(attributes)
    block


//- Icon

mixin icon(name, size)
    - var size = size || 24;
    
    span.o-icon(aria-hidden="true")&attributes(attributes)
        svg(viewBox="0 0 #{size} #{size}" width=size height=size)
            use(xlink:href="/assets/img/icons.svg#icon-#{name}")

//- Divider

mixin divider
    hr.c-divider
