//- ----------------------------------
//- ⚡️ INCLUDES > MIXINS
//- ----------------------------------

include _functions


//- Inline Image

mixin image(filename, caption, alt)
    figure.image&attributes(attributes)
        img(src=(absolute || "") + "img/#{filename}" alt=(alt || caption) width="800")

        if caption
            figcaption.image-caption.text-meta!=caption


//- List

mixin list(style)
    if style
        ol.list.list--numbered&attributes(attributes)
            block
    
    else
        ul.list.list--unnumbered&attributes(attributes)
            block

mixin item
    li.list-item&attributes(attributes)
        block


//- Date

mixin date(input)
    - var dates = convertDate(input)
    time.date(datetime=dates.timestamp)&attributes(attributes)=dates.full


//- Blockquote

mixin quote(source, link)
    blockquote.quote&attributes(attributes)
        p.quote-body
            block

        if source
            footer.quote-footer.text-meta

                if link
                    a(href=link target="_blank")=source

                else
                    !=source


//- Codepen Embed

mixin codepen(slug, height, default_tab)
    .embed&attributes(attributes)
        .codepen(data-height=height data-theme-id="23801" data-slug-hash=slug data-default-tab=(default_tab || "result") data-embed-version="2" data-user=profiles.codepen) 
            a(href="https://codepen.io/#{profiles.codepen}/#{slug}/" target="_blank") View on CodePen


//- Video Embeds

mixin youtube(id, ratio)
    .video(class="video--" + (ratio || '16x9'))&attributes(attributes)
        iframe(src="https://www.youtube.com/embed/#{id}" frameborder='0' allowfullscreen)


//- Code Block

mixin code(language)
    pre.code-block(class="language-" + (language || "markup"))&attributes(attributes)
        code
            block


//- Button

mixin button
  a.button(role="button")&attributes(attributes)
    block


//- Icon

mixin icon(name, size)
    - var size = size || 24;
    
    span.icon(aria-hidden="true")&attributes(attributes)
        svg(viewBox="0 0 #{size} #{size}" width=size height=size)
            use(xlink:href="/assets/img/icons.svg#icon-#{name}")

//- Divider

mixin divider
    hr.divider
