include ../_includes/_mixins

//- ----------------------------------------------------------------------------
//-  Blog Post Mixin
//- ----------------------------------------------------------------------------

mixin post(headline, date)
  .blog-post(id=date)
    h2
      a(href="#" + date)=headline
    .meta=convertDate(date).full
    
    block


//- ----------------------------------------------------------------------------
//-  Template
//- ----------------------------------------------------------------------------

header.blog-header
  h1 
    span Australia Travel Blog
    a.credit.caption(href="http://www.freepik.com/free-photos-vectors/travel" target="_blank") Vector Graphic: Freepik

.single-content
  +post("Everyday Life", "2016-03-30")
    p I haven't updated in about a week and I don't even know why. I'm back in Rutherglen now, but we spent a few more days in Melbourne last week to see more of the city. We walked along Lygon St, where I had some of the best ice cream I've ever had in my life (a huge scroop of salted caramel) and spent a day in Brunswick where I had amazing Lebanese food and did a bit of vintage shopping. I'm always very sceptical when people recommend vintage shopping or say it's particularly great in a certain place, because usually that still means that it's the same hip overpriced stuff you find everywhere else. I like second hand clothes as much as the next person, but after all, it's #[em second hand] and I sort of refuse spending more on it than I would on new pieces. (I'm not talking about vintage designer collectibles or something, that's not really the stuff I am into anyways). But long story short, I was pleasantly surprised by the quality of the vintage shops in Brunswick. I found an amazing leather bag in great condition, probably the one important item that was still missing from my #[a(href=url + "blog/guide-everyday-life-minimalism") new, minimalist wardrobe]. I was pretty sad to leave the apartment behind. Being so high above the city in this very open, yet isolated space really did me good. I've come to terms with the fact that the random circumstances of my everyday life do have a huge impact on my mood and productivity. And in my bed overlooking the big city I definitely felt much more calm and focucsed than I do back here in the countryside. In the early mornings, I'd often go swimming in our apartment building's pool, then get ready for the day with coffee and breakfast. Having a pool is this kind of novelty, though, that is probably only fun if it's new and you're on holidays. If my apartment building at home came with a pool, I know I'd probably use it like twice and then forget about it. It's kind of a shame, really. But anyways, here are a few snapshots from the past week:

    +image("australia-travel-blog/deadman.jpg", "My favourite neighbourhood cafe in Melbourne", true)
    +image("australia-travel-blog/offscreen.jpg", "Discovered a great magazine shop in Melbourne and I finally got my hands on a copy of Offscreen", true)
    +image("australia-travel-blog/rutherglen2.jpg", false, true)
    +image("australia-travel-blog/rutherglen3.jpg", "The lake in Rutherglen where we went for a walk and a picnic", true)



  +post("Sunset / Sunrise", "2016-03-23")
    +image("australia-travel-blog/sunset.jpg", false, true)
    +image("australia-travel-blog/sunrise.jpg", false, true)

  +post("Hello Melbourne!", "2016-03-22")
    p This morning, we finally arrived in Melbourne. Going by train was so much nicer than flying - you first go past all the little suburbs and little houses until the city skyline finally appears and gets closer and closer. After about a week in the countryside, it felt so nice to be back in a big city. The apartment, which we had organised fairly last-minute, turned out to be amazing - a flat on the 23rd floor with huge floor to ceiling windows overlooking the city all the way to the coast. I can't wait to wake up in the big white bed tomorrow and watch the sunrise from here. I've always wanted to stay at a place like this and I'm so happy I found one that is #[em not] a fancy hotel (because quite frankly, I hate hotels, especially fancy ones). After dropping our bags off at the flat, we had really good coffee and breakfast at #[a(href="http://deadmanespresso.com.au/" target="_blank") Dead Man], one of the many nice cafés we randomly stumbled upon. It's kind of a shame that the "typical" hip Australian breakfast already seems so much less novel to me, since Berlin has finally managed to do a good job at copying it. Maybe I now get what people mean when they say that Berlin's kinda become like Melbourne, minus the good weather. Whatever that means, really. After breakfast, we headed down to St Kilda and went for a long walk by the beach. The cool breeze made the heat pretty bearable – you could even say, I almost enjoyed it. I really liked walking along the Esplanade, drinking overpriced fresh juices, doing a bit of window shopping and finding so many interesting restaurants that I all want to try while I'm here. (I guess it's one of those neighbourhoods that are quite fun when you're visiting, but probably a pain in the arse if you actually live here. Also, hippies. Damn hippies.) I'm actually quite sad I'll only be here until the end of the week. Compared to last year and New York, my motivation to go out and do things has about tripled, and there's really a lot that I still want to see and explore. Whenever I visit a new place, I try to think about what it must be like living there, and if I actually would – and it doesn't happen often that I can totally see myself living somewhere for a certain period of time. Melbourne is definitely one of those places.

    +image("australia-travel-blog/beach.jpg", "From my new photo series titled \"Goths on the beach\"", true)
    +image("australia-travel-blog/stkilda.jpg", "St Kilda", true)
    +image("australia-travel-blog/stkilda2.jpg", false, true)
    +image("australia-travel-blog/lunapark.jpg", false, true)
    +image("australia-travel-blog/melbourne.jpg", "The view from the bedroom window", true)

  +post("Country life", "2016-03-21")
    p On Saturday, we drove out through the country between Rutherglen and Corowa to try and spot some kangaroos. (Unsucessfully, because it was fairly hot and they were hiding.) On our way, we stopped by a farm owned by a family friend, whose great grandfather was part of the Corowa conference that #[a(href="http://www.murrayriver.com.au/about-the-murray/corowa-federation/" target="_blank") started] the Australian Federation, something the town is still proud of today. The farms here are massive and very industrial, but probably still fairly small for Australian standards. A while ago, M. and I ended up talking about #[a(href="https://en.wikipedia.org/wiki/Farmer_Wants_a_Wife" target="_blank") "Farmer Wants a Wife"], a show that exists in both Germany and Australia, and we soon realised that the two adaptations were very, very different. The stereotype of an Australian farmer is a successful entrepreneur running a multi-million dollar high-tech business, making the show a slightly weird version of The Bachelor. The German stereotype however is a guy in his fifties with a complete lack of social skills, living in the middle of nowhere with his mum who has to be subtitled throughout the entire show. Not to mention the general concept of German daytime television that mostly consists of lower class stereotypes being portrayed in the most ridiculous and dehumanizing way possible so that even the biggest loser can watch this and smugly laugh because hey, at least they're not #[em that] bad. But anyway, back to the Australian countryside.

    +image("australia-travel-blog/farm.gif", "Driving around the farms", true)

    p Yesterday we went to Mount Pilot Park and Woolshed Falls – and I finally saw my first kangaroo in the wild! We climbed up the rocks from where you have an amazing view over the area, and tried to climb down to the pool at the bottom of the falls. M.'s dad, who grew up in the area, said they'd often go swimming there as kids, but the rocks were way too steep and scary, so we decided to find a real swimming pool instead. I'm actually quite proud of myself for spending so much time in nature with temperatures above 20 degrees and #[em not] hating it. I'm also pretty amazed by the indrecible vastness of the land, and the resulting lack of people everywhere. It was a nice Sunday but during the entire hike through the park, we barely ran into people at all. Around noon, we drove on to Beechworth, a litte town south of Rutherglen, and I immediately fell in love with its cute buildings and retro storefronts. To be fair, Beechworth is still pretty touristy, so the overall look and selection of businesses is not entirely unintentional. But I couldn't help thinking that this quaint hipsterism somehow does make a lot more sense in the context of a small countryside town, as opposed to some random metropolis in the northern hemisphere. We ha lunch at #[a(href="http://bridgeroadbrewers.com.au/" target="_blank") Bridge Road Brewers], a local brewery serving excellent pizzas and craft beers. On your way back, we stopped in #[a(href="https://en.wikipedia.org/wiki/Eldorado,_Victoria" target="_blank") Eldorado] to have a look at the old gold dredge (which produced 70,664 ounces of gold in total between 1936 and 1954).

    +image("australia-travel-blog/view.jpg", false, true)
    +image("australia-travel-blog/falls.jpg", "Woolshed Falls", true)
    +image("australia-travel-blog/beer.jpg", "Craft beer samples at Bridge Road Brewers in Beechworth", true)
    +image("australia-travel-blog/beechworth.jpg", false, true)
    +image("australia-travel-blog/eldorado.jpg", "The remains of the Eldorado dredge", true)
    +image("australia-travel-blog/road.gif", false, true)

    

  +post("Rutherglen & jetlag", "2016-03-18")
    p We left our hotel at around 6:30 in the morning to head back to Sydney airport and catch a domestic flight to Albury. I was pretty tired, which made the whole experience slightly bizarre: a tiny plane with only about 25 people on it and only one flight attendant dressed in a retro uniform who took her job very seriously. An hour later, we arrived in Albury and drove out to Rutherglen, a small rural town between Sydney and Melbourne. "Victoria's Tidiest Town 1996" reads the sign that greets you upon driving into the city and it kinda leaves open more questions than it answers. (Who decides this? What are the criteria? For some reason, I can't stop thinking about #[a(href="http://www.imdb.com/title/tt0425112/" target="_blank") #[em Hot Fuzz]].) Despite being such a small coutryside town, Rutherglen has excellent food offerings, including a gourmet restaurant (where I tried champagne baked oysters and my first wallaby) and an Australian pie shop (where I tried both kangaroo and emu). I spent most of my afternoon sleeping off the jetlag in a cosy bed in a nicely air-conditioned room. Being 10 hours ahead of Berlin is pretty great since I can stay up late and answer emails at night when everyone else just got up and started working. At night we went for a little walk around the fields. The stars were out and it was the clearest I'd ever seen them, up into all the tiny little details. It feels ridiculous saying that, but I've lived in cities all my life so things like seeing more than five stars at a time feel weirdly novel to me. I've always preferred impressive concrete buildings and illuminated skylines over hiking through nature and stargazing. Being in the countryside makes me realise how much of a city person I really am. But I'm also finally at a point in my life where seeing the sun and a blue sky doesn't make me go into cynical rants about how much I hate various aspects of the human existence.

    +image("australia-travel-blog/rutherglen.jpg", "The view from my bed", true)


  +post("Hello Sydney!", "2016-03-17")
    p It's funny to think that it's been almost exactly a year since I got back from #[a(href=url + "/blog/new-york-travel-blog" target="_blank") New York]. So many things have changed. I'm less worried about the future and for the first time in years, I feel like I can go away and explore new places and be able to #[em actually] enjoy it. So a year later, I'm on an Etihad Airways plane that's taking me from Abu Dhabi to Sydney, Australia. I've been incredibly scared of the 24-hour trip — my motion sickness is quite unpredictable and the idea of being in one place for such a long time, pretty much cut off from the outside world (and most likey without internet) makes me feel slightly uncomfortable. But when I found myself on this massive two-story plane, equipped with a modern entertainment system and a free seat right next to me, I knew that it would be alright. I honestly have no idea how I passed the twelve hours. We arrived in Sydney around 7pm, got through security and customs in no time and took a cab to a nearby pub that rented out cheap rooms upstairs. Even though we had to catch another regional flight early in the morning, we decided to head to the city center and had seafood at Chinatown restaurant that's known to be a go-to place for local chefs after work, since it's open till 4am in the morning. I'm really looking forward to this trip and I'm glad everything just worked out perfectly so far. We'll be spending the first week in Rutherglen where M.'s family lives, then head down to Melbourne and finally back to Sydney on April 1. I'm slightly worried about the heat (especially considering the recent heat wave), but I've come up with a few good coping strategies. Wish me luck!

  .block-center.color
    !=partial("../_includes/_share-icons", { posturl: getCurrentUrl() })
